- page_title "群组"
.row.prepend-top-default
  .col-lg-3.settings-sidebar
    %h4.prepend-top-0
      共享项目给其他群组
    %p
      项目只能在一个群组内保存。但可以在这里将其共享给其它群组。
  .col-lg-9
    %h5.prepend-top-0
      设置要共享的群组
    = form_tag namespace_project_group_links_path(@project.namespace, @project), class: 'js-requires-input', method: :post do
      .form-group
        = label_tag :link_group_id, "群组", class: "label-light"
        = groups_select_tag(:link_group_id, data: { skip_groups: @skip_groups }, required: true)
      .form-group
        = label_tag :link_group_access, "最大访问等级", class: "label-light"
        .select-wrapper
          = select_tag :link_group_access, options_for_select(ProjectGroupLink.access_options, ProjectGroupLink.default_access), class: "form-control select-control"
          = icon('caret-down')
      .form-group
        = label_tag :expires_at, '访问到期时间', class: 'label-light'
        .clearable-input
          = text_field_tag :expires_at, nil, class: 'form-control js-access-expiration-date-groups', placeholder: '选择访问到期日期'
          %i.clear-icon.js-clear-input
        .help-block
          到此日期，此群组的用户将自动失去对此项目的访问权限。
      = submit_tag "共享", class: "btn btn-create"
  .col-lg-9.col-lg-offset-3
    %hr
  .col-lg-9.col-lg-offset-3.append-bottom-default.enabled-groups
    %h5.prepend-top-0
      已共享的群组 (#{@group_links.size})
    - if @group_links.present?
      %ul.well-list
        - @group_links.each do |group_link|
          - group = group_link.group
          %li
            .pull-left.append-right-10.hidden-xs
              = icon("folder-open-o", class: "settings-list-icon")
            .pull-left
              = link_to group do
                = group.full_name
              %br
              最高权限 #{group_link.human_access}
              - if group_link.expires?
                ·
                %span{ class: ('text-warning' if group_link.expires_soon?) }
                  将于 #{distance_of_time_in_words_to_now(group_link.expires_at)} 到期
            .pull-right
              = link_to namespace_project_group_link_path(@project.namespace, @project, group_link), method: :delete, class: "btn btn-transparent" do
                %span.sr-only disable sharing
                = icon("trash")
    - else
      .settings-message.text-center
        没有群组可以访问此项目，请在上方增加一个。
