%header.navbar.navbar-gitlab{ class: nav_header_class }
  %a.sr-only.gl-accessibility{ href: "#content-body", tabindex: "1" } Skip to content
  .container-fluid
    .header-content
      .dropdown.global-dropdown
        %button.global-dropdown-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
          %span.sr-only 切换导航面板
          = icon('bars')
        .dropdown-menu-nav.global-dropdown-menu
          - if current_user
            = render 'layouts/nav/dashboard'
          - else
            = render 'layouts/nav/explore'

      .header-logo
        = link_to root_path, class: 'home', title: '仪表板', id: 'logo' do
          = brand_header_logo

      .title-container
        %h1.title{ class: ('initializing' if @has_group_title) }= title

      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.hidden-sm.hidden-xs
            = render 'layouts/search' unless current_controller?(:search)
          %li.visible-sm-inline-block.visible-xs-inline-block
            = link_to search_path, title: '搜索', aria: { label: "搜索" }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
              = icon('search')
          - if current_user
            - if session[:impersonator_id]
              %li.impersonation
                = link_to admin_impersonation_path, method: :delete, title: "停止扮演", aria: { label: 'Stop Impersonation' }, data: { toggle: 'tooltip', placement: 'bottom', container: 'body' } do
                  = icon('user-secret fw')
            - if current_user.admin?
              %li
                = link_to admin_root_path, title: '管理区域', aria: { label: "管理区域" }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                  = icon('wrench fw')
            - if current_user.can_create_project?
              %li
                = link_to new_project_path, title: '新建项目', aria: { label: "新建项目" }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                  = icon('plus fw')
            - if Gitlab::Sherlock.enabled?
              %li
                = link_to sherlock_transactions_path, title: 'Sherlock 事务',
                  data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                  = icon('tachometer fw')
            %li
              = link_to assigned_issues_dashboard_path, title: '问题', aria: { label: "问题" }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                = icon('hashtag fw')
                - issues_count = cached_assigned_issuables_count(current_user, :issues, :opened)
                %span.badge.issues-count{ class: ('hidden' if issues_count.zero?) }
                  = number_with_delimiter(issues_count)
            %li
              = link_to assigned_mrs_dashboard_path, title: '合并请求', aria: { label: "合并请求" }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                = custom_icon('mr_bold')
                - merge_requests_count = cached_assigned_issuables_count(current_user, :merge_requests, :opened)
                %span.badge.merge-requests-count{ class: ('hidden' if merge_requests_count.zero?) }
                  = number_with_delimiter(merge_requests_count)
            %li
              = link_to dashboard_todos_path, title: '待办事项', aria: { label: "待办事项" }, class: 'shortcuts-todos', data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                = icon('check-circle fw')
                %span.badge.todos-count{ class: ('hidden' if todos_pending_count.zero?) }
                  = todos_count_format(todos_pending_count)
            %li.header-user.dropdown
              = link_to current_user, class: "header-user-dropdown-toggle", data: { toggle: "dropdown" } do
                = image_tag avatar_icon(current_user, 26), width: 26, height: 26, class: "header-user-avatar"
                = icon('caret-down')
              .dropdown-menu-nav.dropdown-menu-align-right
                %ul
                  %li
                    = link_to "个人资料", current_user, class: 'profile-link', aria: { label: "个人资料" }, data: { user: current_user.username }
                  %li
                    = link_to "设置", profile_path, aria: { label: "设置" }
                  %li.divider
                  %li
                    = link_to "退出", destroy_user_session_path, method: :delete, class: "sign-out-link", aria: { label: "退出" }
          - else
            %li
              %div
                = link_to "登录", new_session_path(:user, redirect_to_referer: 'yes'), class: 'btn btn-sign-in btn-success'

      %button.navbar-toggle{ type: 'button' }
        %span.sr-only 切换导航面板
        = icon('ellipsis-v')

      = yield :header_content

= render 'shared/outdated_browser'

- if @project && !@project.empty_repo?
  - if ref = @ref || @project.repository.root_ref
    :javascript
      var findFileURL = "#{namespace_project_find_file_path(@project.namespace, @project, ref)}";
